				<div>
					<div class="documentTitle">__#__DOCUMENT_TITLE__#__&nbsp;</div>
					<div class="documentDescription">__#__DOCUMENT_DESCRIPTION__#__&nbsp;</div>
					<div class="documentName">__#__DOCUMENT_NAME__#__&nbsp;</div>
					<div class="creationDate">__#__CREATION_DATE__#__&nbsp;</div>
					<div class="categories">__#__CATEGORIES__#__&nbsp;</div>
					<div class="selection">
						[<a href="index.php?action=dokument_bearbeiten&amp;document_id=__#__DOCUMENT_ID__#__">
							Bearbeiten
						</a>]
						[<a href="index.php?action=dokument_loeschen&amp;document_id=__#__DOCUMENT_ID__#__">
							Löschen
						</a>]
					</div>
				</div>
				<div class="clearer"></div>
				<hr />