
	<section id="content">
		<h2>__#__H2__#__</h2>
		<!-- Main content -->

		<form action='' method='post'>
			<input type='hidden' name='userForm' value='browseDocuments' />
		
			<div class="browseDocuments">
				<div>
					<div class="documentTitle"><b>Titel</b></div>
					<div class="documentDescription"><b>Beschreibung</b></div>
					<div class="documentName"><b>Name</b></div>
					<div class="creationDate"><b>Erstellungsdatum</b></div>
					<div class="categories"><b>Kategorien</b></div>
					<div class="selection"><b>Aktion</b></div>
				</div>
				<div class="clearer"></div>
				<br />
__#__BROWSEDOCUMENTS_LIST__#__
			</div>

			<!--input type='submit' value='Zurück' /-->
			</fieldset>
		</form>
	</section>

