<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>

<h2>__#__H2__#__</h2>
<form action='' method='POST'>
	<input type='hidden' name='userForm' value='newCategory' />
	<fieldset>
		<legend>Kategorie</legend>
		
		<span class="error">__#__CATEGORY_NAME_ERROR__#__</span>
		<br />
		<label>Name: </label>
		<span class="marker"> *</span>
		<input type="text" name="category_name" id="category_name" value="__#__CATEGORY_NAME__#__"/>
		<select name='category_id'>__#__CATEGORYLIST__#__
		</select>

		<input type='submit' value='__#__CATEGORY_SUBMIT__#__' />
	</fieldset>
</form>