<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Dokumentenverwaltung</title>
	<link type="text/css" rel="stylesheet" href="css/formatierungen.css" />
</head>
<body>

<!-- header -->
<div id="kopf">
<a href="index.php?action=home">Home</a>
<a href="index.php?action=dokumente_durchsuchen">Alle Dokumente anzeigen</a>
<a href="index.php?action=dokument_suchen">Dokumente suchen</a>
<a href="index.php?action=dokument_anlegen">Dokument anlegen</a>
<a href="index.php?action=kategorie_anlegen">Kategorie anlegen</a>
<a href="index.php?action=kategorie_aendern">Kategorie ändern</a>
<a href="index.php?action=kategorie_loeschen">Kategorie löschen</a>
<br />
<!--
<a href="index.php?action=dokument_bearbeiten">Dokument bearbeiten</a>
<a href="index.php?action=dokument_loeschen">Dokument löschen</a>
-->
</div>

<!-- content -->
<div id="hauptteil">
<h1>__#__H1__#__</h1>
__#__CONTENT__#__
</div>

<!-- footer -->
<div id="fuss">

</div>

</body>
</html>
