<h2>__#__H2__#__</h2>
<form action='' method='POST'>
	<input type='hidden' name='userForm' value='newCategory' />
	<fieldset>
		<legend>Kategorie</legend>

		<span class="error">__#__CATEGORY_NAME_ERROR__#__</span>
		<br />
		<label>Name: </label>
		<span class="marker"> *</span>
		<input type="text" name="category_name" list="categoryName" value="__#__CATEGORY_NAME__#__"/>
		<datalist id="categoryName">"__#__CATEGORYLIST__#__
		</datalist>

		<input type='submit' value='Speichern' />
	</fieldset>
</form>